/* ============ GENERAL ============ */

::selection {
    background-color: #977AEE99;
}

.lightCard {
    background-color: #404255FF;
}

.noPadding {
   padding: 0 !important;
   margin: 0 !important;
}



/* ========= Background ========= */

#background { 
    width: 100vw;
    height: 100vh;
    position: fixed;
    
    opacity: 0.15;
    filter: blur(7000px);
    background-color: #17181B;
    
    overflow: visible;
} /* .background */

.circle {
    height = width;
    position: absolute;
} /* .circle */

#green { 
    width: 500px;
    margin: -200px 0px 0px 150px;
    
    animation: breathing 13s ease-out infinite normal;
    background-color: #77ACA2;
} /* #green */

#purple {
    width: 550px;
    margin: 150px 0px 0px 750px;
    
    animation: breathing 23s ease-out infinite normal;
    background-color: #977AEE;
} /* #purple */

#brown {
    width: 400px;
    height: 400px;
    margin: 500px 0px 0px 200px;
    
    animation: breathing 41s ease-out infinite normal;
    background-color: #8A716A;
} /* #brown */

@keyframes breathing {
    0% {transform: scale(0.9);}
    25% {transform: scale(1);}
    60% {transform: scale(0.95);}
    100% {transform: scale(0.9);}
} /* breathing */

/* ============ NAV BAR ============ */

.nav {
    padding-top: 5vh;
    padding-right: 7.5vw;
    padding-bottom: 1vh;
}

.nav li a{
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
}

.nav li a:hover {
    color: #977AEE;
}

.nav li div {
    width: 24px;
}

/* ============= HOME ============== */

#home {
    height: 90vh;
    color: #FFFFFF;
    font-family: "Satoshi";
    font-weight: 500;
}

.info button {
    height: 30px;
    width: 130px;
    border: 1px solid #977AEE;
    background-color: #977AEE;
    line-height: 15px;
    font-size: 12px;
}

.info button:hover {
    border: 1px solid #977AEE;
    background-color: transparent;
}

.info button:focus {
    border: 1px solid #977AEE;
    background-color: transparent;
}

.info a {
    width: 30px;
}

.info a img {
    width: 30px;
    height: 30px;
}

#pic img {
    height: 100%;
}

/* =========== PROJECTS ============ */

#projects {
    min-height: 80vh;
    color: #FFFFFF;
    font-family: "Satoshi";
    font-weight: 500;
    padding: 2.5vw 7.5vw 2.5vw 7.5vw
}

#projects .row .col {
    height: 40vw;
    margin: 0px 10px 0px 10px;
    background-color: #525469;
    padding: 0px;
}

.project h3 {
    font-size: 2vw;
}

.tech {
    width: fit-content;
    height: 30px;
    display: inline;
    margin-right: 0.5vw;
    padding: 0.25vw 0.85vw 0.25vw 0.85vw;
    border-radius: 5px;
    font-size: 1.25vw;
    background-color: #977AEE;
    text-align: center;
}

/* ========== EXPERIENCE =========== */
/* ============ ABOUT ============== */