/* ============ GENERAL ============ */

body {
    margin: 0px;
    padding: 0px;
    background-color: #08080BFF !important;
} /* body */

h1 {
    font-size: 48px !important;
    font-weight: 400px !important;
    font-family: "Satoshi";
} /* h1 */

h2 {
    font-size: 42px !important;
    font-weight: 400px !important;
    font-family: "Satoshi";
} /* h2 */

h3 {
    font-size: 22px !important;
    font-weight: 400px !important;
    font-family: "Satoshi";
} /* h3 */

.noPadding {
    margin: 0px;
    padding: 0px;
} /* .noPadding */

.purpleTag {
    margin-right: 10px;
    padding: 2px 15px 2px 15px;
    background-color: #977AEEFF;
    border-radius: 5px;
} /* .purpleTag */

.social {
    width: 40px;
    height: 40px;
} /* .social */

purple {color: #AF96FAFF;}
.section {background-color: #171721FF;}
::selection {background-color: #977AEE99;}

/* ========== BACKGROUND ========== */

#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    
    opacity: 0.3;
    background-image: url("Assets/Images/Space.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
} /* #background */

/* ========== NAVBAR ========== */

.navbar {
    height: 20vh;
    padding: 5vh 5vw 5vh 5vw !important;
    
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFFFF;
} /* .navbar */

.nav-item:hover {
    color: #AF96FAFF;
} /* .nav-item:hover */

@media (max-width: 700px) {
    .nav-text {
        display: none;
    } /* .nav-text */
} /* @media (max-width: 700) */

@media (min-width: 701px) {
    .nav-drop {
        display: none !important;
    } /* .nav-text */
} /* @media (min-width: 701) */

.dropdown-menu {
    width: 100px !important;
    padding: 0 88px 0 0 !important;
    background-color: transparent !important;
}

.dropdown-item {
    float: right;
    margin: 5px 0px 5px -70px;
    padding: 5px 20px!important;
    width: fit-content !important;
    
    color: #FFFFFFFF !important;
    background-color: transparent !important;
}

.dropdown-item:hover {
    color: #AF96FAFF !important;
    background-color: transparent !important;
}

/* ========== HOME ========== */

#home {
    min-height: 30vh;
    margin: 20vh 0 30vh 15vw;
    color: #FFFFFFFF;
    
} /* .home */

.btn-primary {
    border-radius: 5px !important;
    border: none !important;
    padding: 5px 25px 5px 25px !important;
    background-color: #977AEEFF !important;
    border: 1px solid transparent !important;
} /* .btn-primary */

.btn-primary:hover {
    color: #977AEEFF !important;
    border: 1px solid #977AEEFF !important;
    background-color: transparent !important;
} /* .btn-primary:hover */

.btn-secondary {
    border-radius: 5px !important;
    padding: 5px 25px 5px 25px !important;
    border: 1px solid #FFFFFFFF !important;
    background-color: transparent !important;
} /* .btn-secondary */

.btn-secondary:hover {
    color: #AF96FAFF !important;
    border: 1px solid #AF96FAFF !important;
} /* .btn-secondary */

.social {
    width: 35px;
    height: 35px;
} /* .social */

/* ========== Projects ========== */

#projects {
    color: #FFFFFFFF;
    padding: 3vw 10vw 5vw 10vw !important;
} /* #projects */

.project {
    width: 250px;
}/* .projects-img */

.carousel-inner {
    width: 100% !important;
    height: 100% !important;
} /* .carousel-inner */

.carousel-item {
    object-fit: fill;
} /* .carousel-item */

/* ========== Skills ========== */

#skills {
    color: #FFFFFFFF;
    width: 100%;
    padding: 5vw 0vw;
} /* #skills */

.skill {
    width: 100%;
    height: 200px;
    background-color: #171721FF;
} /* .skill */

.skillName {
    padding: 20px 0 0 145px;
} /* .skillName */

.skillInfo {
    width: 90%;
    padding: 20px 0 0 10%;
} /* .skillName */

.icon {
    width: 65px;
    height: 65px;
    border-radius: 7px;
    margin: -20px 0px 0px 40px;
    background-color: #977AEEFF;
    position: absolute;
    justify-content: center;
} /* .icon */

.material-symbols-outlined { margin: 8.5px; }
.material-symbols-outlined.md-48 { font-size: 48px; }

/* ========== About ========== */

#about {
    color: #FFFFFFFF;
    padding: 3vw 10vw 5vw 10vw !important;
} /* #projects */

.profile {
    width: 100%;
    height: 100%;
    padding: 20px;
} /* .profile */