/* ============ GENERAL ============ */

:root {
    --lightPurple: #A488F9FF;
    --darkPurple: #7E5EDDFF;
    --backgroundColor: #08080BFF;
    --sectionColor: #1C1C29FF;
    
    
::selection {background-color: #977AEE99;}
    
} /* :root */

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Satoshi', sans-serif !important;
    background-color: var(--backgroundColor) !important;
} /* body */

.section {
    background-color: var(--sectionColor)
} /* .section 8 */

.social {
    width: 27px;
    height: 27px;
} /* .social */


/* =========== BACKGROUND =========== */

#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    
    opacity: 0.3;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1.25s ease-in-out;
    z-index: -1;
} /* #background */


/* ============ NAV BAR ============ */

.navbar {
    height: 20vh;
    padding: 5vh 5vw 5vh 5vw !important;
    
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFFFF;
} /* .navbar */

.nav-icon {
    position: relative;
    top: 2px;
    font-size: 14px !important;
} /* .nav-icon */

.nav-item:hover {
    color: var(--lightPurple);
} /* .nav-item:hover */

@media (max-width: 700px) {
    .nav-text {
        display: none;
    } /* .nav-text */
} /* @media (max-width: 700) */

@media (min-width: 701px) {
    .nav-drop {
        display: none;
    } /* .nav-text */
} /* @media (min-width: 701) */

.dropdown-menu {
    width: 100px !important;
    padding: 0 118px 0 0 !important;
    background-color: transparent !important;
} /* .dropdown-menu */

.dropdown-item {
    float: right;
    margin: 5px 0px 5px -70px;
    padding: 5px 20px!important;
    width: fit-content !important;
    
    color: #FFFFFFFF !important;
    background-color: transparent !important;
} /* .dropdown-item */

.dropdown-item:hover {
    color: #AF96FAFF !important;
    background-color: transparent !important;
} /* .dropdown-item:hover */


/* ============== HOME ============== */

#home {
    min-height: 30vh;
    margin: 20vh 0 30vh 15vw;
    color: #FFFFFFFF;
} /* .home */

#home h1 {
    line-height: 1.3;
    font-size: 44px !important;
    font-weight: 600 !important;
} /* h1 */

#home h2 {
    line-height: 1.3;
    font-size: 17px;
    font-weight: 500;
} /* .h4 */

.btn-primary {
    padding: 5px 25px 5px 25px !important;
    background-color: var(--darkPurple) !important;
    border: 1px solid transparent !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
} /* .btn-primary */

.btn-secondary {
    font-weight: 500 !important;
    border-radius: 5px !important;
    padding: 5px 25px 5px 25px !important;
    border: 1px solid white !important;
    background-color: transparent !important;
} /* .btn-secondary */

.btn-primary:hover {
    color: var(--lightPurple) !important;
    border: 1px solid var(--lightPurple) !important;
    background-color: transparent !important;
} /* .btn-primary:hover */

.btn-secondary:hover {
    color: var(--lightPurple) !important;
    border: 1px solid var(--lightPurple) !important;
} /* .btn-secondary */

#home .image-card {
    width: 258px !important;
    height: 378px !important;
    
    object-fit: fill;
    border-radius: 40px !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

#home .card-1 {
    position: absolute;
    top: -120px;
    left: -10px;
    transform: rotate(-5deg);
    
    object-position: bottom;
}

#home .card-2 {
    position: absolute;
    top: -60px;
    left: 200px;
    transform: rotate(10deg);
    
    object-position: 10px, 10px;
}


/* =========== EXPERIENCE =========== */

#experience {
    color: #FFFFFFFF;
    padding: 3vw 10vw 3vw 10vw !important;
} /* #experience */

.pop-out {
    position: absolute;
} /* .pop-out */

.iPhone {
    width: 150px;
    height: auto;
    position: absolute;
    top: 65px;
    left: -100px;
    transform: rotate(-5deg);
    z-index: 1;
} /* .iPhone */

.chili {
    width: 160px;
    height: auto;
    position: absolute;
    top: 140px;
    right: -75px;
} /* .chili */

.brawlers {
    width: 190px;
    height: auto;
    position: absolute;
    top: 65px;
    left: -120px;
} /* .brawlers */

.store-image {
    width: 170px;
    height: auto;
} /* .store-image */

.project-info {
    align-content: center !important;
} /* .project-info */

.project-header {
    display: flex;
    align-items: center !important;
} /* .center-flex */

.project-icon {
    width: 50px;
    height: 50px;
} /* .project-icon */

#experience h1 {
    line-height: 1.3;
    font-size: 44px !important;
    font-weight: 600 !important;
} /* .experience h1 */

#experience h2 {
    line-height: 1.3;
    font-size: 28px !important;
    font-weight: 600 !important;
} /* .experience h2 */

#experience p {
    line-height: 1.3;
    font-size: 20px !important;
    text-underline-position: under;
} /* .experience p */

#experience a {
    color: white;
} /* #experience a */

#experience a:hover {
    text-decoration: none;
} /* #experience a */

.underline {
    width: 200px;
    height: 30px;
    position: absolute;
    left: 105px;
    border-bottom: 2px solid white;
} /* .underline */

.in-text-icon {
    position: relative;
    right: 2px;
    top: 1px;
    font-size: 16px !important;
} /* .link-icon */

.purple-tag {
    margin: 0 10px 8px 0;
    padding: 2px 15px 2px 15px;
    background-color: var(--darkPurple);
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px !important;
} /* .purpleTag */

.link-btn {
    color: white !important;
    font-weight: 500 !important;
    border-radius: 5px !important;
    padding: 4px 17px 4px 17px !important;
    border: 1px solid white !important;
    background-color: transparent !important;
} /* .link-button */

.link-btn:hover {
    color: var(--lightPurple) !important;
    border: 1px solid var(--lightPurple) !important;
} /* .link-button:hover */

.link-icon {
    position: relative;
    top: 2px;
    font-size: 16px !important;
} /* .link-icon */